.card{
    width: 50vw;
    height: 30vh;
    text-align: center;
    margin: 0.75rem;
    color: white;
    margin: 3rem auto;
    background-color: #333232;
    border:1px solid #313131;
}

.mytable{
    border-radius: 0.25rem;
    margin: 0.5rem;
}

.row{
    margin: 1rem ;
}

.modal-content{
    background-color: #212121;
    color: white;
}