{% extends 'base.html' %}

{% block title%}
Register page
{% endblock %}

{%block content %}
<div class="container col-4" style="padding-top:2rem">

    <h4>Register : </h4>
    <br>
    <form action="" method="POST" class="form-register" style="color:white">
        {{ form.username.label()}}
        {{ form.username(class="form-control", placeholder="Dwight") }}

        {{ form.email_address.label()}}
        {{ form.email_address(class="form-control", placeholder="DwightSchrute@dm.in") }}

        {{ form.password1.label()}}
        {{ form.username(class="form-control", placeholder="**********") }}

        {{ form.password2.label()}}
        {{ form.username(class="form-control", placeholder="**********") }}
        <br>
        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form>
</div>

{% endblock%}